workflows/Job V1.2.json
{
  "name": "Job V1.2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "63379c16-36fa-4496-b066-443427a348db",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "companies",
          "mode": "list",
          "cachedResultName": "companies"
        },
        "where": {
          "values": [
            {
              "column": "enabled",
              "value": "TRUE"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "priority"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        0
      ],
      "id": "2457411d-6d3d-4192-8e9f-8d3d14778e38",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "v1NKVsrw9PXkblS0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "29f29a3a-c376-4876-88d4-11931f106012",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "1ba69ed5-dcd4-4d31-b725-8d08beeab794",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bdad847a-0377-4a9c-95bc-60fe8e1e7cd4",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Engineer",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "85d2c1d6-c794-4e06-9cf9-981e3647dd97",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Development",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "18c387a6-1103-4466-8afe-5bb894e97f6a",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Java",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "60a422b2-8d75-446f-8884-bb6342d5f86b",
              "leftValue": "={{ $json.title }}",
              "rightValue": "=ML",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6cb46d3f-ed86-4618-82cb-021228d620f9",
              "leftValue": "={{ $json.title }}",
              "rightValue": "N8N",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "105e9298-acf0-46e8-825b-7e458a858e05",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Software",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d0dd2d77-c476-44cc-b31d-a7f66573edac",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Developer",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b4e53f18-108b-4435-9f48-c8ea67bc58a4",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Backend",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1200,
        0
      ],
      "id": "cc04005a-bcdd-4896-a8b8-5aa3aaf18862",
      "name": "Filter"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "execution_history",
          "mode": "list",
          "cachedResultName": "execution_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_time_ms": 0,
            "companies_processed": 0,
            "successful_companies": 0,
            "failed_companies": 0,
            "jobs_found": 0,
            "new_jobs_inserted": 0,
            "duplicate_jobs": 0,
            "status": "RUNNING"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "execution_date",
              "displayName": "execution_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_time_ms",
              "displayName": "execution_time_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companies_processed",
              "displayName": "companies_processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "successful_companies",
              "displayName": "successful_companies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "failed_companies",
              "displayName": "failed_companies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "jobs_found",
              "displayName": "jobs_found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "new_jobs_inserted",
              "displayName": "new_jobs_inserted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "duplicate_jobs",
              "displayName": "duplicate_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "8a17e98b-2535-4462-be70-b0ac25344d54",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "v1NKVsrw9PXkblS0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "execution_history",
          "mode": "list",
          "cachedResultName": "execution_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $('Insert rows in a table').item.json.execution_id }}",
            "execution_time_ms": 0,
            "companies_processed": 0,
            "successful_companies": 0,
            "failed_companies": 0,
            "jobs_found": 0,
            "new_jobs_inserted": 0,
            "duplicate_jobs": 0,
            "status": "SUCCESS",
            "end_time": "={{ $now }}"
          },
          "matchingColumns": [
            "execution_id"
          ],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execution_date",
              "displayName": "execution_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_time_ms",
              "displayName": "execution_time_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companies_processed",
              "displayName": "companies_processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "successful_companies",
              "displayName": "successful_companies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "failed_companies",
              "displayName": "failed_companies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "jobs_found",
              "displayName": "jobs_found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "new_jobs_inserted",
              "displayName": "new_jobs_inserted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "duplicate_jobs",
              "displayName": "duplicate_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        0
      ],
      "id": "bced98b1-1160-4f54-8132-63f44cc88df4",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "v1NKVsrw9PXkblS0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "jobs",
          "mode": "list",
          "cachedResultName": "jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.id }}",
            "company_name": "={{ $json.company_name }}",
            "title": "={{ $json.title }}",
            "location": "={{ $json.location.name }}",
            "job_url": "={{ $json.absolute_url }}",
            "fetched_at": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fetched_at",
              "displayName": "fetched_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        0
      ],
      "id": "c77fbf1a-f30d-4973-b1b6-c68b801d04bb",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "v1NKVsrw9PXkblS0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "753bac6e-94e1-49f7-afa3-13e0b54b3282",
              "leftValue": "={{ $json.location.name }}",
              "rightValue": "Bengaluru",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7abf1448-a4c9-4542-95e9-912988116a3d",
              "leftValue": "={{ $json.location.name }}",
              "rightValue": "Banglore",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "191c6622-7d76-45b6-8774-c2a4fe8ec057",
              "leftValue": "={{ $json.location.name }}",
              "rightValue": "Remote",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d85e35db-b9f8-4b0d-bfb0-ac7cec03ce74",
              "leftValue": "={{ $json.location.name }}",
              "rightValue": "india",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1408,
        0
      ],
      "id": "909bd620-10ca-42fa-bac2-679cb8e4c326",
      "name": "Filter1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "62b91629-8206-4d65-a137-70d740b8fdb0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d775f65e910880e2542849a688e18b9b579c8365c7597f077e99d7df1b6e8d6a"
  },
  "nodeGroups": [],
  "id": "HLtMJxVUqvCApRDM",
  "tags": []
}